<!DOCTYPE html>
<html>
    <head>
        {{>stylesheets}}
        <link rel="icon" href="/images/download.png">
    </head>
        <body>
            <div class="main-content">
            {{>header}}
            <p>
                This website was created by Thomas England.  It uses data from mapbox.com and darksky.net.  
            </p>
            <img class="portrait" src="images/49730765_10103214744203836_3420020902333513728_n.jpg">

            </div>
            
            {{>footer}}
        </body>
</html>